.entity-selection-container div {
    cursor: pointer;
    padding: 20px;
    margin: 10px;
    border: 1px solid black;
  }
  
  .selected {
    background-color: lightblue;
  }
  
  .greyed-out {
    background-color: lightgrey;
    pointer-events: none;
  }
  