<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Module</h6>
  </div>
  <div class="card-body">
    <button type="button" (click)="addNew()">Add New</button>

    <div class="search-container">
      <!-- <input type="text" placeholder="Search..." [(ngModel)]="searchText" (ngModelChange)="filterData()"> -->
    </div>
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>ID</th>
            <th>Module Name</th>
            <th>Description</th>
            <th>Action</th>
          </tr>
        </thead>
        <!-- <tbody>
        <tr *ngFor="let module of modules">
          <td>{{ module.id }}</td>
          <td>{{ module.modname }}</td>
          <td>{{ module.desc }}</td>
          <td>
            <button (click)="edit(module.id)">Edit</button>
            <button (click)="viewDetails(module.id)">Detail</button>
            <button (click)="delete(module.id)">Delete</button>
          </td>
        </tr>
      </tbody> -->
      </table>
    </div>
  </div>
</div>